**/__pycache__/
**/*.pyc
**/*.pyo
*.bin
*.pt
*.ckpt
*.h5
*.npy
*.npz
*.pkl
*.log
venv/
.env
.cache/
*.db
*.sqlite
datasets/
notebooks/
docs/
*.pdf
*.csv
*.md

# Ignorar modelos y vectores pesados
models/
vectorstore/
chroma/
*.gguf
*.bin
*.onnx
*.jsonl
*.parquet
