# Web API
fastapi
pydantic
python-multipart
requests

# LangChain y componentes
langchain
langchain-community
langchain-core
langchain-ollama
langchain-chroma
langchain-text-splitters

# Documentos
python-docx
pypdf

# Redis
redis